.titulo-principal{
    background-color: blue;
    text-align: center;
    
}

.principal{
    text-align: center;
}

#botao-tipo-guia{
    width: 25%;
    text-align: center;
    background-color: #f19700;
    font-display: block;
    height: 50%;
    display: inline-block;
    padding: 20px;
    font-size: 28px;
    margin: 20px;
    border-radius: 12px;
    border: solid;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

#botao-tipo-guia:hover {
    font-size: 31px;
    padding: 25px;
    transition: 0.2s;
    width: 27%;
}

.div-botao{
    text-align: center;
}

.body-pagina{
    background-color: blue;
}

.menu-lateral{
    position: absolute;
    font-size: 30px;
}

.texto-guia{
    position: absolute;
    top: 60%;
    left: 20%;
    text-align: left;
    font-size: 30px;
}

#invisivel{
    display: none;
    transition-delay: 1s;
}
