.titulo-principal{
    text-align: center;
    
}

.principal{
    text-align: center;
}

#botao-tipo-guia{
    width: 25%;
    text-align: center;
    background-color: #f19700;
    font-display: block;
    height: 50%;
    display: inline-block;
    padding: 20px;
    font-size: 28px;
    margin: 20px;
    border-radius: 12px;
    border: solid;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

#botao-tipo-guia:hover {
    font-size: 30px;
    padding: 23px;
    transition: 0.2s;
    width: 27%;
}

.div-botao{
    text-align: center;
    display: block;
    position: relative;
}

.body-pagina{

}

.menu-lateral{
    display: block;
    position: absolute;
    font-size: 30px;
    overflow: hidden;
    box-sizing: border-box;
}

.texto-guia{
    position: static;
    margin-left: 250px;
    text-align: left;
    font-size: 30px;
    display: block;
}

#invisivel{
    display: none;
}

.texto-exibido{
    text-align: center;
    background-color: aliceblue;
    padding: 70px 30px;
}

#itens-menu{
    
}

#itens-menu:hover{
    transition-delay: 0.3s;
    background-color: #0101a0;
    cursor: pointer;
}
